@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: Arial, Helvetica, sans-serif;
}


.gradientText {
    background: linear-gradient(92.83deg, #00FFFF -8.49%, #438BFF 21.67%, #C882FF 55.98%, #B85CFF 80.23%, #A129FF 105.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}